<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <p class="text-center" *ngIf="!isButtonVisible">{{currentQuestion + 1}} of {{tests.length}}</p>
            <h2 *ngIf="!isButtonVisible">{{tests[currentQuestion].ques}}</h2>
            <ul class="list-group" *ngFor="let test of tests[currentQuestion].answer">
                <label>
                    <li class="list-group-item" *ngIf="!isButtonVisible">
                        <input type="radio" name="options" (change)="onClick(test.check, test.opt)">
                        {{test.opt}}</li>
                </label>
            </ul>
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" (click)="onNext()" [disabled]="!answerSelected" *ngIf="!isButtonVisible">{{buttonDisplay}}</button>
                <button class="btn btn-primary" type="button" *ngIf="isButtonVisible && isClicked" (click)="showResults()">Show Results</button>
            </div>
            <h2 class="text-center" *ngIf="isButtonVisible">{{correct}} correct | {{incorrect}} incorrect</h2>
            <br>
        </div>
        <div class="col-sm-8 offset-2" *ngIf="result">
            <ul class="list-group" *ngFor="let answers of answeredTest">
                <li class="list-group-item">{{answers.question}}</li>
                <ul class="list-group" *ngFor="let answer of answers.checkAnswer">
                    <li [style.background-color] = "answers.check ? 'green' : 'red'" 
                    [style.color] = "'white'" 
                    class="list-group-item">{{answer.choice}}</li>
                </ul>
                <br>
            </ul>
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button" *ngIf="!isClicked" (click)="done()">Done</button>
            </div>
        </div>
    </div>
</div>