<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" (click)="backToLogin()">Log Off</button>
    <span class="navbar-text">
      My Portfolio
    </span>
  </form>
</nav>
<div class="container-md">
    <h5>Welcome {{currentUser}}</h5>
    <form [formGroup]="portfolio" (ngSubmit)="save()">
        <div class="mb-3">
          <label class="form-label">Contact Name</label>
          <input type="text" class="form-control" formControlName="contactName">
          <label class="form-label">Phone No.</label>
          <input type="tel" class="form-control" formControlName="phoneNo">
        </div>
        <button type="submit" class="btn btn-primary" id="save">Save</button>
    </form>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone No.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let port of currentPortfolio">
            <td>{{port.name}}</td>
            <td>{{port.phoneNo}}</td>
        </tr>
        </tbody>
      </table>
</div>