#title {
    color: rgb(19, 125, 139);
    font-style: italic;
    text-align: center;
}

#image {
    width: 100px;
    height: 100px;
}

#showArticle {
    word-wrap: break-word;
    width: 700px;
 }

 #showArticle2 {
    word-wrap: break-word;
    width: auto;
 }

 #titleInput {
    word-wrap: break-word;
    width: 500px;
 }

 #showTitle {
    word-wrap: break-word;
    width: 500px;
    text-align: center;
    text-decoration: underline;
    color: rgb(19, 125, 139);
 }

 #showTitle2 {
    word-wrap: break-word;
    width: auto;
    text-align: center;
    text-decoration: underline;
    color: rgb(19, 125, 139);
 }